*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}



.globalBlockContent{
    /* width: 100%; */
    margin: 6% auto;
    background-color: #f1f1f1;
}

.globalBlockContent h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bolder;
    
}

.globalBlockContent article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    height: 350px;
}

.globalBlockContent article div {
    flex-basis: 30%;
    /* width: 32%; */
    background-color: rgb(238, 109, 23);
    height: 75%;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    /* align-content: center; */
    /* margin-top: ; */
    
}

.globalBlockContent article div p:nth-child(1){
    height: 140px;
    flex-basis: 75%;
    background-image: url(../images/mix.png);
    background-repeat: no-repeat;
}

.globalBlockContent article .Colombia p:nth-child(1){
    
    background-position: 0 100%;
    height: 75px;
    width: 100px;
    margin: auto;
} 

.globalBlockContent article div p:nth-child(2){
    text-align: center;
    text-transform: capitalize;
    font-size: medium;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
}